.login {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  background: url('../../img/girl-watching-video.png') no-repeat;
  background-size: cover;
}

.login form {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 100px;
  margin: auto;
}

.outline-ensiname {
    color: #220B50 !important;
    border-color: #220B50 !important;
}

.outline-ensiname:hover {
  background-color: #220B50 !important;
  color: #fff !important;
}

.ensiname:hover {
  background-color: #fff !important;
  color: #220B50 !important;
}
.ensiname {
  background-color: #220B50 !important;
  color: #fff !important;
  border-color: #220B50 !important;
}

.login .footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.login .button-icon {
  max-height: 24px;
  max-width: 24px;
  margin: 0;
}

#root, #root > div {
  height: 100%;
}

.login-form {
  max-width: 650px;
  margin: auto;
}

.logo-img{
  max-width: 100%;
}

.helper-text {
  font-size: .85em;
}

@media (max-width: 764px) {
  .login form {
    padding: 0 10px;
  }

  bod.loginy {
    height: fit-content;
    overflow: auto;
  }

  #root, #root > div {
    height: fit-content;
  }
}