.nav_planos{
    font-weight: bold;    
}

.nav_planos_text{
    font-size: 25px;
}

.conteudo_img{
    display: flex;
    margin-top: 2em;

}

.img_planoa{
    width: 50%;
    display: flex;
    justify-content: center;

}

.img_planoa img{
    width: 400px;
    height: 400px;
}

.texto_planoa{
    width: 50%;
    padding-right: 2em;
    line-height: 33px;
}

.outro_texto{
    line-height: 33px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-left: 10em;
}

.texto_planoa h4, .outro_texto h4 {
    color: #220B50 ;
}

.btna{
    height: 50px;
    width: 150px;
    font-size: 20px;
    right: 100px;
    position: absolute;
    margin-bottom: 1em;
}